<main class="container">
  <div class="row">
    <div class="col-md-6 my-3">
      <h1>
        Take Control of Your Tasks with Ease - Introducing TaskMaster.
      </h1>
      <p>Stay organized, prioritize effectively, and never miss a beat!</p>

      <a routerLink="/register" class="btn btn-primary btn-lg">Get Started</a>
    </div>
    <div class="col-md-6 img-display">
      <img
        src="../../assets/images/landing.png"
        alt="Image of some boards as a demo to the user"
      />
    </div>
  </div>
</main>
